@font-face {
    font-family: 'Pee_on_face';
    font-style: normal;
    font-weight: normal;
    src: local('Pee_on_face'), url('./pee-on-your-face.woff') format('woff');
}


#main-header{
    font-family: 'Pee_on_face';
    font-size: 3rem;
    color: #075754;
    text-transform: uppercase;
    padding-top: 2rem;
}